doctype html
html
  head
    title= title
    block header
      link(rel='stylesheet', href='/static/plugins/vux/dist/vux.css')
  body
    block content
    block footer
      script(src='/static/plugins/vue/vue.js')
      script(src='/static/plugins/vue-resource/dist/vue-resource.min.js')