doctype html
html
  head
    title= "щенчеи"

    block meta
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

    block header
      link(rel='stylesheet', href='/static/plugins/vux/dist/vux.css')
  body
    block content
    block footer
      script(src='/static/plugins/vue/vue.js')
      script(src='/static/plugins/vue-resource/dist/vue-resource.min.js')